.navbar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:8px 4px;

}

a{
  text-decoration: none;
  color: inherit;
}

.brand{
  font-size: 2rem;
  position: relative;
  left: 46px;
 color: #2c3e50;
  font-weight: bold;
  margin-bottom: 8px;
}
.text-accent {
  color: #f39c12; /* Amber accent for 'Movies' */
}
.login-btn,
.logout-btn {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Login Button */
.login-btn {
  background: #007bff;
  color: #fff;
}

/* Logout Button */
.logout-btn {
  background: #dc3545;
  color: #fff;
}


@media (max-width: 768px) {
 
  .brand {
    font-size: 3vh;
    left: 0;
    margin-bottom: 10px;
  }
}