.navbar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:8px 4px;

}

.navbar .profile{
  width: 40px;
}
a{
  text-decoration: none;
  color: inherit;
}

.brand{
  font-size: 4.0vh;
  position: relative;
  left: 46px;
}


@media (max-width: 768px) {
 
  .brand {
    font-size: 3vh;
    left: 0;
    margin-bottom: 10px;
  }
  .navbar .profile {
    align-self: flex-end;
  }
}