
.nav-text:hover{
  color: yellow;
}
.navbar {
  height: 60px; /* Adjust as needed */
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

}
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  line-height: normal; /* Fix text alignment */
  display: flex;
  align-items: center;
    margin: 5px 0;
  padding-left: 10px;
  padding-right: 10px;
}


@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #212529; 
    padding: 1rem 0;
  }

  .navbar-nav .nav-link {
    color: #fff !important;
    padding: 10px 20px;
  }

  .navbar-nav .nav-link:hover {
    color: #ffc107 !important;
  }
}

