
.nav-text:hover{
  color: #f39c12  !important;
}
.navbar {
  height: 60px; /* Adjust as needed */
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
position: sticky;
  top: 0;
  z-index: 1030;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  line-height: normal; /* Fix text alignment */
  display: flex;
  color: #1a1a1a;
  font-weight: 500;
  align-items: center;
    margin: 5px 0;
  padding-left: 10px;
  padding-right: 10px;
}


@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    z-index: 999;
   background-color: #ffffff !important;
    padding: 1rem 0;
  }

  .navbar-nav .nav-link {
    color: #1a1a1a !important;
    padding: 10px 20px;
  }

  .navbar-nav .nav-link:hover {
    color: #f39c12 !important;
  }
}

