.footer {
  background-color: 	#cbd7e8;
  color: 	#2c3e50;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.footer-brand {
  font-size: 2rem;
  color: #2c3e50; /* Matches navbar base */
  font-weight: bold;
  margin-bottom: 8px;
}
.text-accent {
  color: #f39c12; /* Amber accent for 'Movies' */
}

.footer-tagline {
  font-size: 1rem;
  color: #7f8c8d; /* Soft gray for the tagline */
}
.footer-logo p {
  font-size: 14px;
  color: #aaa;
}
.footer-links h4,
.footer-social h4 {
  font-size: 20px;
  font-weight: 600;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  text-decoration: none;
 color: #6c757d;
  transition: color 0.3s;
}
.footer-links ul li a:hover {
  color: #f39c12; 
   
}


.footer-newsletter input {
  padding: 8px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.footer-newsletter button {
  padding: 8px 12px;
  background-color: #f39c12;
  color: #fff;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}


.footer-social .social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons a {
  font-size: 24px;
  color: white;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.social-icons a:nth-child(1):hover{
  color: #3b5998; /* Facebook Blue */
  transform: scale(1.2);
}

.social-icons a:nth-child(2):hover {
  color: #1da1f2; /* Twitter Blue */
  transform: scale(1.2);
}

.social-icons a:nth-child(3):hover {
  color: #e1306c; /* Instagram Pink */
  transform: scale(1.2);
}

.social-icons a:nth-child(4):hover {
  color: #ff0000; /* YouTube Red */
  transform: scale(1.2);
}
.footer-bottom {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}



@media (max-width: 768px) {
  .footer-newsletter {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }

  .footer-newsletter input {
    width: 70%;
    margin-bottom: 10px;
  }

  .footer-newsletter button {
    width: 30%;
  }
}
