.carousel {
  width: 100%;
  max-height: 500px;  
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position:center;
}

@media (max-width: 768px) {
  .carousel {
    height: auto;
   aspect-ratio: 16 / 9;
  }

  .carousel img {
    height: auto;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: auto;
   aspect-ratio: 16 / 9;
  }

  .carousel img {
    height: auto;
  }
}
